body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.login-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.side-image {
    background: url('/images/helmet.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.login-box {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 30px;
    background: #fff;
}

.login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.login-header img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
